* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 60px 1fr 50px;
  grid-template-areas:
    "header header"
    "aside main"
    "aside footer";
  min-height: 100vh;
  transition: all 0.3s ease;
}

header {
  grid-area: header;
  background-color: #222;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  cursor: pointer;
  color: white;
}

aside {
  grid-area: aside;
  background-color: #000;
  color: white;
  padding: 20px;
  transition: all 0.3s ease;
}

aside p {
  margin: 10px 0;
}

main {
  grid-area: main;
  padding: 20px;
}

.image-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.image-container div img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

footer {
  grid-area: footer;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1024px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 50px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  aside {
    display: none;
  }

  header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding-bottom: 20px;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media (max-width: 600px) {
  .image-container {
    grid-template-columns: 1fr;
  }

  nav ul li,
  aside ul li {
    font-size: 14px;
    
  }
}
